body {
   
    background-image: linear-gradient(to right, #79C235 50%, #1E73BE 50%);
    padding-bottom: 700px;
}

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .container__logo {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 15%;
    height: auto;
  }



